@model wdpr_h.Models.Client

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User" />
            <div class="form-group">
                <label asp-for="Nicknaam" class="control-label"></label>
                <input asp-for="Nicknaam" class="form-control" />
                <span asp-validation-for="Nicknaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeeftijdsCategorie" class="control-label"></label>
                <input asp-for="LeeftijdsCategorie" class="form-control" />
                <span asp-validation-for="LeeftijdsCategorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achternaam" class="control-label"></label>
                <input asp-for="Achternaam" class="form-control" />
                <span asp-validation-for="Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hulpVerlenerId" class="control-label"></label>
                <input asp-for="hulpVerlenerId" class="form-control" />
                <span asp-validation-for="hulpVerlenerId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isKindAccount" /> @Html.DisplayNameFor(model => model.isKindAccount)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="OuderAccount" class="control-label"></label>
                <input asp-for="OuderAccount" class="form-control" />
                <span asp-validation-for="OuderAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HulpverlenerId" class="control-label"></label>
                <input asp-for="HulpverlenerId" class="form-control" />
                <span asp-validation-for="HulpverlenerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wachtwoord" class="control-label"></label>
                <input asp-for="Wachtwoord" class="form-control" />
                <span asp-validation-for="Wachtwoord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
