@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - wdpr_h</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    </head>

<div class="text-center mb-3">
    <b class="h1">Zorg Maatschap Den Haag</b>
</div>

<div class="text-center">
    <img src="img/pedagogiekk.jpg" class="img-fluid" alt="Praktijk voor Orthopedagogiek & psychologie">
</div>


<b class="img_subtitel">
    Praktijk voor Orthopedagogiek & psychologie
</b>

<h2 class="overons-altekst">Mijn visie</h2>
  <p>
    Ik zal alleen gegevens delen met derden als ouders/verzorgers en/of kinderen ouder dan 12 jaar schriftelijk
    toestemming heeft verleend om vertrouwelijke informatie te delen met derden.
  </p>

  <h2 class="overons-altekst">Mijn missie</h2>
  <p>
    Mijn missie is het om uw bijzondere kind te ondersteunen op zijn/haar pad. Herkent u de worsteling
    van uw kind? Beleeft uw kind dingen intensief? Is uw kind uit balans op school en gaan zijn/haar
    prestaties achteruit? Is uw kind faalangstig? Concentreert uw kind zich moeilijk? Slaap uw kind
    moeilijk na een onrustige dag? Heeft uw kind moeite met grote veranderingen of met verrassingen?
    Dit zijn allemaal kenmerken van hooggevoeligheid. Kom gerust met uw kind langs, dan bespreken we
    in een vrijblijvend oriënterend gesprek wat ik voor u en vooral voor uw kind kan betekenen.
  </p>

  <h2 class="overons-altekst">Mijn kernwaarden</h2>
  <b>Luisteren</b>
  <p>
    Ieder kind mag zichzelf zijn
  </p>
  <b>Liefde:</b>
  <p>
    Ieder kind mag gelukkig zijn
  </p>
  <b>Aandacht:</b>
  <p>
    Ieder kind verdient oprechte aandacht
  </p>

  <h2 class="overons-altekst">Hoe kan je hooggevoeligheid herkennen?</h2>
  <span>(Kenmerken hooggevoeligheid)</span>
  <p>
  <ul>
    <li>Hebben vaak veel inzicht hebben in gevoelens van anderen</li>
    <li>Beleven dingen vaak intensief</li>
    <li>Kunnen snel schrikken</li>
    <li>Nemen snel emoties over van anderen</li>
    <li>Hebben snel last van kleren die kriebelen, naden in sokken of kledingmerkjes tegen de huid</li>
    <li>Houden vaak niet van verrassingen</li>
    <li>Kunnen snel van slag raken als iemand boos of heftig reageert</li>
    <li>Lijken geregeld gedachten te kunnen lezen</li>
    <li>Ruiken vaak elk vreemd geurtje</li>
    <li>Hebben een scherpzinnig gevoel voor humor</li>
    <li>Zijn vaak zeer intuïtief</li>
    <li>Kunnen vaak moeilijk in slaap komen na een opwindende dag</li>
    <li>Hebben vaak moeite met grote veranderingen</li>
    <li>Tellen vaak veel vragen</li>
    <li>Zijn vaak perfectionistisch</li>
    <li>Houden meestal van rustige spelletjes</li>
    <li>Kunnen diepzinnige, beschouwende vragen stellen</li>
  </ul>
  </p>

  <h2 class="overons-altekst">Wat maakt mijn praktijk anders?</h2>
  <p>
    Als jij samen met mij gaat onderzoeken hoe jij je weer prettiger voelt in de wereld, dan
    volgen we jouw tempo. Ik luister met aandacht naar jou! Omdat ik vooral kinderen begeleid
    die hooggevoelig zijn, heb ik veel ervaring opgebouwd met waar jij tegenaan loopt! Dat
    onderscheid mijn praktijk van de praktijken van anderen. Èn….ik breng kinderen met dezelfde
    ‘problemen’, bij elkaar. Elke maand is er een ‘lotgenoten’ inloopmiddag. Ook van elkaar
    kunnen jullie heel veel leren!
  </p>

