@{
    ViewData["Title"] = "Klachtenprocedure";
}


<dl class="row">
    <dd class="col-sm-9">
    </dd>

    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-8 mx-auto">
                <h1>@ViewData["Title"]</h1>
                <div class="jumbotron h2 p-4">

                    Het kan gebeuren dat u als ouder/verzorger niet tevreden bent over mijn handelen als
                    orthopedagoog. Ik nodig u van harte uit om uw klachten met mij te bepreken. Komen wij er
                    in dit gesprek samen niet uit dan kunt u uw klacht indienen bij het Registratie en Tuchtrecht-
                    Instituut. Voor de volledige klachtenprocedure verwijs ik u naar de website van de
                    Nederlandse Federatie Gezondheidszorg: www.de-nfg.nl.
                </div>
            </div>
        </div>
    </div>



</dl>
