@{
    ViewData["Title"] = "Wie ben ik";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>


<dl class="row">
    </br>
    <h2 class="overons-altekst">Wie ben ik? (ouders)</h2>
    <p>
        Ik ben Chantal de Jong (1974) en orthopedagoog. Ik ben zelf moeder van twee geweldige dochters
        van 17 en 15 jaar oud. Tijdens en na mijn studie, aan de Universiteit van Leiden, heb ik mij
        gespecialiseerd in hooggevoeligheid bij kinderen. Wat mij opviel is dat hooggevoeligheid vaak niet
        wordt opgemerkt en erkend, waardoor deze kinderen niet de ondersteuning krijgen die zij nodig
        hebben om goed te kunnen functioneren. Dit kan voor hen allerlei negatieve consequenties tot gevolg
        hebben. Hooggevoelige kinderen reageren vaak emotioneler op gebeurtenissen waardoor ze door
        andere kinderen vreemd gevonden worden of niet begrepen worden. Soms durft een hooggevoelig
        kind hierdoor steeds minder zichzelf te zijn en gaat het zich aanpassen aan de kinderen/volwassenen
        om zich heen.
    </p>

    <h2 class="overons-altekst">Wie ben ik? (kinderen)</h2>
    <p>
        Hallo! Ik ben Chantal de Jong. Ik ben orthopedagoog. Een orthopedagoog helpt kinderen (en
        hun ouders) in situaties waarbij de ontwikkeling van het kind net iets anders verloopt dan bij
        de meeste kinderen. Ik help vooral kinderen die hooggevoelig zijn en daar last van hebben in
        hun dagelijkse leven. Zelf heb ik ook twee kinderen, twee dochters van 17 en 15 jaar oud. Net
        als met alle kinderen gaat het de ene keer beter met hen dan de andere keer mar gelukkig
        gaat het over het algemeen goed met hen. Wat ik belangrijk vind is om goed naar kinderen
        te luisteren. Ieder kind mag zichzelf zijn. Ieder kind verdient ook aandacht en ieder kind heeft

        het recht om gelukkig te zijn. Graag help ik jou daarbij als dat misschien soms niet zo
        makkelijk lukt!
    </p>


    <dd>
        <img src="/img/OrthopedagoogChantal.png" alt="Chantal de jong" class="img-fluid img-thumbnail">
    </dd>
</dl>
