@{
    ViewData["Title"] = "Privacy beleid";
}


<dl class="row">
    <dd class="col-sm-9">
    </dd>

    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-8 mx-auto">
                <h1>@ViewData["Title"]</h1>
                <div class="jumbotron h2 p-4">
                    
                    Wat ik binnen mijn praktijk met ouders/verzorgers en/of kinderen bespreek blijft binnen de
                    praktijk. Ik heb beroepsgeheim.</br> Ik zal alleen gegevens delen met derden als
                    ouders/verzorgers en/of kinderen ouder dan 12 jaar schriftelijk toestemming heeft verleend
                    om vertrouwelijke informatie te delen met derden. Om een dossier op te stellen of een kind
                    op de wachtlijst te plaatsen worden ouders en kinderen gevraagd om persoonsgegevens te
                    delen.
                </div>
            </div>
        </div>
    </div>



</dl>
