@model wdpr_h.Models.AanmeldViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>

<body>

    <h4>Aanmelden voor intake</h4>
    <hr />
    <div class="container container-table">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Aanmeld.Naam" class="control-label"></label>
                    <input asp-for="Aanmeld.Naam" class="form-control" />
                    <span asp-validation-for="Aanmeld.Naam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Aanmeld.Achternaam" class="control-label"></label>
                    <input asp-for="Aanmeld.Achternaam" class="form-control" />
                    <span asp-validation-for="Aanmeld.Achternaam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Aanmeld.Geboortedatum" class="control-label"></label>
                    <input asp-for="Aanmeld.Geboortedatum" class="form-control" />
                    <span asp-validation-for="Aanmeld.Geboortedatum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Aanmeld.Aandoening" class="control-label"></label>
                    <input asp-for="Aanmeld.Aandoening" class="form-control" />
                    <span asp-validation-for="Aanmeld.Aandoening" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Aanmeld.Email" class="control-label"></label>
                    <input asp-for="Aanmeld.Email" class="form-control" />
                    <span asp-validation-for="Aanmeld.Email" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Aanmeld.hulpVerlenerId" class="control-label"></label>
                    <select class="form-select form-select-lg mb-3" asp-for="Aanmeld.hulpVerlenerId" class="form-control">
                        <option selected>Selecteer een hulpverlener</option>
                        @foreach(var item in Model.Hulpverleners)
                        {
                            <option value="@item.Id">@item.Naam</option>
                        }
                    </select>
                    <span asp-validation-for="Aanmeld.hulpVerlenerId" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Aanmeld.voorKind" /> @Html.DisplayNameFor(m => m.Aanmeld.voorKind)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Aanmeld.heeftVerwijzing" /> @Html.DisplayNameFor(model => model.Aanmeld.heeftVerwijzing)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
